.hello {
    height: 100vh;
    position: relative;
    z-index: 1;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(1px);
}

.center-text {
    width: 80%;
    max-width: 600px;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hello .center-text h1 {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 72px;
    margin-bottom: 20px;
    background: linear-gradient(to bottom, white, rgb(119, 119, 119));
    -webkit-background-clip: text;
    color: transparent;
}

.hello .center-text p {
    font-size: 18px;
    line-height: 1.6;
    color: #d4d4d4;
    margin-bottom: 15px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.295);
}

@media (max-width: 1000px) {
    .hello .center-text h1 {
        font-size: 62px;
    }
    
    .hello .center-text p {
        font-size: 16px;
    }
}

@media (max-width: 700px) {
    .hello .center-text h1 {
        font-size: 52px;
    }
    
    .hello .center-text p {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .hello .center-text h1 {
        font-size: 48px;
    }
    
    .hello .center-text p {
        font-size: 12px;
    }
}