@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow-y: scroll;

  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #c2c3bc;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #dbe6e3;
}

.contents {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.034) 1px, transparent 1px);
  background-size: 50px 50px;
}
.contents::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.027));
  z-index: 0;
}