.profile {
    padding: 40px 20px;
    text-align: left;
    position: relative;
}

.profile h3 {
    padding: 10px;
    margin: 0;
    color: #ffffff;
    font-size: 1.2em;
    margin-bottom: 8px;
}

.profile h3 i {
    font-size: 15px;
    color: #c7c7c7;
    margin-bottom: 10px;
}

.profile p {
    padding: 0 10px 10px;
    margin: 0;
    color: #dbe6e3;
    font-size: 0.9em;
}

.content-grid {
    display: grid;
    position: relative;
    z-index: 1;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
    max-width: 1350px;
    margin: 10px auto;
}

.content-box {
    overflow: hidden;
    transition: all 0.3s ease;
    border: 1px solid #1a1a1a;
    background-image: radial-gradient(at 88% 40%,
            rgba(0, 0, 0, 0) 0px,
            transparent 85%),
        radial-gradient(at 49% 30%, rgba(0, 0, 0, 0) 0px, transparent 85%),
        radial-gradient(at 14% 26%, rgba(0, 0, 0, 0) 0px, transparent 85%),
        radial-gradient(at 0% 64%, hsla(0, 0%, 100%, 0.014) 0px, transparent 85%),
        radial-gradient(at 41% 94%, hsla(0, 0%, 100%, 0.014) 0px, transparent 85%),
        radial-gradient(at 100% 99%, hsla(0, 0%, 100%, 0.014) 0px, transparent 85%);
    border-radius: 20px;
    padding: 20px;
}

.content-box:hover {
    border: 1px solid #202020;
}

.content-box-image {
    height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.content-box-text {
    padding: 15px;
}

.content-box img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.bottom-row {
    grid-column: 1 / -1;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 15px;
}

/* Engineer */
.engineer {
    overflow: hidden;
}

.engineer .content-box-image {
    background: radial-gradient(circle, #1a1a1a, rgba(0, 0, 0, 0), #00000000);
}

.icon-container {
    display: inline-block;
    animation: flow 30s linear infinite;
    white-space: nowrap;
    align-items: center;
    margin-top: 50px;
}

.icon-inner {
    display: inline-block;
}

.icon-inner svg {
    fill: rgb(190, 190, 190);
    width: 30px;
    height: 30px;
    padding: 10px;
    background-image: radial-gradient(at 88% 40%,
            rgba(0, 0, 0, 0) 0px,
            transparent 85%),
        radial-gradient(at 49% 30%, rgba(0, 0, 0, 0) 0px, transparent 85%),
        radial-gradient(at 14% 26%, rgba(0, 0, 0, 0) 0px, transparent 85%),
        radial-gradient(at 0% 64%, hsla(0, 0%, 100%, 0.027) 0px, transparent 85%),
        radial-gradient(at 41% 94%, hsla(0, 0%, 100%, 0.027) 0px, transparent 85%),
        radial-gradient(at 100% 99%, hsla(0, 0%, 100%, 0.027) 0px, transparent 85%);
    border: 1px solid #1b1b1b;
    border-radius: 10px;
    transition: all 1s;
}

.icon-inner svg:hover {
    fill: rgb(255, 255, 255);
    border: 1px solid #474747;
}

@keyframes flow {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* Youtuber */
@keyframes moveDot {

    0%,
    100% {
        top: 10%;
        right: 10%;
    }

    25% {
        top: 10%;
        right: calc(100% - 35px);
    }

    50% {
        top: calc(100% - 30px);
        right: calc(100% - 35px);
    }

    75% {
        top: calc(100% - 30px);
        right: 10%;
    }
}

.subscribe {
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 9px;
    background-size: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    color: #fff;
}

.subscribe h1 {
    font-weight: bolder;
    font-size: 70px;
    background: linear-gradient(45deg, #414141 4%, #fff, #000);
    background-clip: text;
    color: transparent;
}

/* Team */
.team svg {
    width: 30px;
    height: 30px;
}

/* About Me! */
.about-me {
    display: flex;
    overflow: hidden;
    transition: all 0.3s ease;
    border: 1px solid #1a1a1a;
    grid-column: span 2;
    background-image: radial-gradient(at 88% 40%,
            rgba(0, 0, 0, 0) 0px,
            transparent 85%),
        radial-gradient(at 49% 30%, rgba(0, 0, 0, 0) 0px, transparent 85%),
        radial-gradient(at 14% 26%, rgba(0, 0, 0, 0) 0px, transparent 85%),
        radial-gradient(at 0% 64%, hsla(0, 0%, 100%, 0.014) 0px, transparent 85%),
        radial-gradient(at 41% 94%, hsla(0, 0%, 100%, 0.014) 0px, transparent 85%),
        radial-gradient(at 100% 99%, hsla(0, 0%, 100%, 0.014) 0px, transparent 85%);
    border-radius: 20px;
    padding: 40px;
}

.about-me .content {
    flex: 1;
}

.about-me img {
    width: 300px;
    object-fit: cover;
    border-radius: 20px;
    filter: grayscale(100%);
    margin-left: 20px;
}

.about-me .sns {
    padding: 0 10px 10px;
    margin-top: 10px;
}

.about-me .sns a {
    font-size: 27px;
    margin-right: 10px;
    transition: 0.5s;
}

.about-me .sns a:hover {
    color: #fff;
}

.team .zisty {
    background: radial-gradient(circle, #ffffff18, rgba(0, 0, 0, 0), #00000000);
}

/* スマホ */
@media (max-width: 1200px) {
    .about-me img {
        width: 100px;
        object-fit: cover;
        border-radius: 20px;
        filter: grayscale(100%);
        margin-left: 20px;
    }

    .profile h3 {
        padding: 10px;
        margin: 0;
        color: #ffffff;
        font-size: 1.1em;
        margin-bottom: 8px;
    }

    .profile h3 i {
        font-size: 15px;
        color: #c7c7c7;
        margin-bottom: 10px;
    }

    .profile p {
        padding: 0 10px 10px;
        margin: 0;
        color: #dbe6e3;
        font-size: 0.8em;
    }
}

@media (max-width: 900px) {
    .content-grid {
        grid-template-columns: 1fr;
    }

    .about-me {
        grid-column: span 1;
    }

    .bottom-row {
        grid-template-columns: 1fr;
    }

    .content-box img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .profile h3 {
        padding: 10px;
        margin: 0;
        color: #ffffff;
        font-size: 1.1em;
        margin-bottom: 8px;
    }

    .profile h3 i {
        font-size: 14px;
        color: #c7c7c7;
        margin-bottom: 10px;
    }

    .profile p {
        padding: 0 10px 10px;
        margin: 0;
        color: #dbe6e3;
        font-size: 0.9em;
    }

    .icon-inner svg {
        width: 25px;
        height: 25px;
    }

    .subscribe h1 {
        font-weight: bolder;
        font-size: 60px;
        background: linear-gradient(45deg, #414141 4%, #fff, #000);
        background-clip: text;
        color: transparent;
    }
}

@media (max-width: 600px) {
    .about-me img {
        width: 0px;
        object-fit: cover;
        border-radius: 20px;
        filter: grayscale(100%);
        margin-left: 0px;
    }

    .profile h3 {
        padding: 10px;
        margin: 0;
        color: #ffffff;
        font-size: 1em;
        margin-bottom: 8px;
    }

    .profile h3 i {
        font-size: 13px;
        color: #c7c7c7;
        margin-bottom: 10px;
    }

    .profile p {
        padding: 0 10px 10px;
        margin: 0;
        color: #dbe6e3;
        font-size: 0.8em;
    }

    .icon-inner svg {
        width: 20px;
        height: 20px;
    }

    .subscribe h1 {
        font-weight: bolder;
        font-size: 50px;
        background: linear-gradient(45deg, #414141 4%, #fff, #000);
        background-clip: text;
        color: transparent;
    }
}